<div class="row">
    <div 
        cdkDropList
        #ln1="cdkDropList"
        [cdkDropListData]="list1" 
        [cdkDropListConnectedTo]="ln2"
        (cdkDropListDropped)="drop($event)"
        class="col-6"
    >

        <div cdkDrag class="block block-1" *ngFor="let n of list1">
            <span>{{ n }}</span>
        </div>

    </div>

    <div 
        cdkDropList
        #ln2="cdkDropList"
        [cdkDropListData]="list2" 
        [cdkDropListConnectedTo]="ln1"
        (cdkDropListDropped)="drop($event)"
        class="col-6"
    >

        <div cdkDrag class="block block-2" *ngFor="let n of list2">
            <span>{{ n }}</span>
        </div>

    </div>
</div>